<%- include("partials/header.ejs"); -%>

<section class="home-main">

  <h1 class="team-builder-title light-text bold-text">Random Team Builder</h1>

  <div class="champion-img-container row d-flex">

    <div class="col-lg-2">
      <img class="role-img" src="images/top.png" alt="top-img">
      <div class="champion-container">
        <img class="champion-img" src="data_dragon/img/champion/tiles/<%=champImg1%>_0.jpg" alt="<%= champName1 %>">
        <h2 class="champion-name"><%= champName1 %> </h2>
        <h3 class="champion-title"><%= champTitle1 %></h3>
      </div>
    </div>

    <div class="col-lg-2">
      <img class="role-img" src="images/jungle.png" alt="jungle-img">
      <div class="champion-container">
        <img class="champion-img" src="data_dragon/img/champion/tiles/<%=champImg2%>_0.jpg" alt="<%= champName2 %>">
        <h2 class="champion-name"><%= champName2 %> </h2>
        <h3 class="champion-title"><%= champTitle2 %></h3>
      </div>
    </div>

    <div class="col-lg-2">
      <img class="role-img" src="images/mid.png" alt="mid-img">
      <div class="champion-container">
        <img class="champion-img" src="data_dragon/img/champion/tiles/<%=champImg3%>_0.jpg" alt="<%= champName3 %>">
        <h2 class="champion-name"><%= champName3 %> </h2>
        <h3 class="champion-title"><%= champTitle3 %></h3>
      </div>
    </div>

    <div class="col-lg-2">
      <img class="role-img" src="images/bot.png" alt="bot-img">
      <div class="champion-container">
        <img class="champion-img" src="data_dragon/img/champion/tiles/<%=champImg4%>_0.jpg" alt="<%= champName4 %>">
        <h2 class="champion-name"><%= champName4 %> </h2>
        <h3 class="champion-title"><%= champTitle4 %></h3>
      </div>
    </div>

    <div class="col-lg-2">
      <img class="role-img" src="images/support.png" alt="support-img">
      <div class="champion-container">
        <img class="champion-img" src="data_dragon/img/champion/tiles/<%=champImg5%>_0.jpg" alt="<%= champName5 %>">
        <h2 class="champion-name"><%= champName5 %> </h2>
        <h3 class="champion-title"><%= champTitle5 %></h3>
      </div>
    </div>

  </div>

  <form class="generate-button" action="teambuilder" method="post">
    <button class="btn btn-outline-secondary btn-lg" type="submit" name="button">
      <h2 class="light-text">Generate New Team</h2>
    </button>
  </form>

</section>


<%- include("partials/footer.ejs"); -%>
