<%- include("partials/header.ejs"); -%>

<section class="home-main">

  <div class="champion-img-container row d-flex justify-content-center">

      <div class="col-lg-2">
        <img class="champion-img" src="data_dragon/img/champion/tiles/<%=champName1%>_0.jpg" alt="<%= champName1 %>">
        <h2 class="champion-name light-text"><%= champName1 %> </h2>
      </div>

      <div class="col-lg-2">
        <img class="champion-img" src="data_dragon/img/champion/tiles/<%=champName2%>_0.jpg" alt="<%= champName2 %>">
        <h2 class="champion-name light-text"><%= champName2 %> </h2>
      </div>

      <div class="col-lg-2">
        <img class="champion-img" src="data_dragon/img/champion/tiles/<%=champName3%>_0.jpg" alt="<%= champName3 %>">
        <h2 class="champion-name light-text"><%= champName3 %> </h2>
      </div>

      <div class="col-lg-2">
        <img class="champion-img" src="data_dragon/img/champion/tiles/<%=champName4%>_0.jpg" alt="<%= champName4 %>">
        <h2 class="champion-name light-text"><%= champName4 %> </h2>
      </div>

      <div class="col-lg-2">
        <img class="champion-img" src="data_dragon/img/champion/tiles/<%=champName5%>_0.jpg" alt="<%= champName5 %>">
        <h2 class="champion-name light-text"><%= champName5 %> </h2>
      </div>

  </div>

</section>


<%- include("partials/footer.ejs"); -%>
